page-home {
  background-color: red;
}

.home_button {
  padding: 5px 5px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-color: black;
  border: none;
  border-radius: 100px;
  margin: 7px;
  box-shadow: 0 9px #999;
  height: 90px;
  width: 90px;
  align: center;
}

#hbutton1 {
  margin: 390px 0px 0px 10px;
}
